<footer class="bg-dark  text-light pt-5">
    <div class="container">
        <div class="row g-4">
            <!-- About -->
            <div class="col-md-6 col-lg-4">
                <h4 class="text-white mb-3"><i class="fas fa-star-of-life me-2"></i>We Open the World.</h4>
                <p>
                    @SharedResource.TextFooter_1
                </p>
                <div class="d-flex mt-3">
                    <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="https://www.facebook.com/share/17nx3CXezu/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                   @*  <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#" target="_blank"><i class="fab fa-telegram"></i></a> *@
                    <a class="btn btn-outline-light btn-sm rounded-circle" href="https://www.instagram.com/englishclubwow?igsh=MWFsaTZhNDk3NzhybA%3D%3D&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <!-- Навігація -->
            <div class="col-md-6 col-lg-2">
                <h4 class="text-white mb-3">@SharedResource.TextFooter_2</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>@SharedResource.TextFooter_3</a></li>
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>@SharedResource.TextFooter_4</a></li>
                </ul>
            </div>

            <!-- Послуги -->
            <div class="col-md-6 col-lg-2">
                <h4 class="text-white mb-3">@SharedResource.TextFooter_5</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>@SharedResource.TextFooter_6</a></li>
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>@SharedResource.TextFooter_7</a></li>
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>@SharedResource.TextFooter_8</a></li>
                </ul>
            </div>

            <!-- Контакти -->
            <div class="col-md-6 col-lg-4">
                <h4 class="text-white mb-3">@SharedResource.TextFooter_4</h4>
                <ul class="list-unstyled">
                    <li><a href="https://maps.app.goo.gl/cXJn8Ckc4NUtx4bo6" target="_blank" class="text-light"><i class="fas fa-map-marker-alt me-2"></i>@SharedResource.TextFooter_9</a></li>
                    <li><a href="mailto:Lyubovvynnytska87gnail.com" class="text-light"><i class="fas fa-envelope me-2"></i>Lyubovvynnytska87gnail.com</a></li>
                    <li class="text-light"><i class="fas fa-info-circle me-2"></i>Пн-Нд: 09:00 - 21:00</li>
                    <li><a href="tel:+380982506416" class="text-light"><i class="fas fa-phone me-2"></i>+380982506416</a></li>
                </ul>
            </div>
        </div>

        <!-- Divider -->
        <hr class="border-light my-4">

        <!-- Copyright -->
        <div class="row mb-3">
            <div class="col-md-6 text-center text-md-start">
                © 2026 We Open the World by Lyubov Vynnytska
            </div>
            <div class="col-md-6 text-center text-md-end">
                Всі права захищені
            </div>
        </div>
    </div>
</footer>
