@page "/portfolio"
@using System.Globalization
@implements IDisposable
@inject CultureStateService _cultureStateService
@inject NavigationManager _navigationManager
@inject PortfolioService _portfolioService

<PageTitle>Portfolio</PageTitle>
<div class="py-5 ec-bg-soft">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white p-2 mb-4 rounded shadow-sm">
                <li class="breadcrumb-item">
                    <a href="/" class="bread-link">Домашня сторінка</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Портфоліо</li>
            </ol>
        </nav>
    </div>
    <section id="courses" class="courses section">

        <div class="container">
            <h3 style="padding-top: 5%;"></h3>
            <!-- SECTION TITLE -->
            <div class="section-title text-center mb-5">
                <h2 class="courses-title">Наше портфоліо.</h2>
                <p class="courses-desc">
                   @*  Практичні курси та заняття, які допоможуть тобі впевнено використовувати англійську в житті та роботі. *@
                </p>
                <hr/>
            </div>

            <div class="row g-4">
                @foreach (var item in filteredPortfolios)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="course-card h-100">

                            @if (!string.IsNullOrWhiteSpace(item.VideoPath))
                            {
                                <div class="course-card__media">
                                    <div class="ratio ratio-16x9">
                                        <lite-youtube videoid="@item.VideoPath"
                                                      class="card-img-top object-fit-cover">
                                        </lite-youtube>
                                    </div>
                                    <span class="course-category">@item.Group</span>
                                </div>
                            }
                            else
                            {
                                <div class="course-card__img">
                                    <img src="@item.ImgPath" alt="@item.TitleCard">
                                    <span class="course-category">@item.Group</span>
                                </div>
                            }

                            <div class="course-card__body">
                                <h3 class="course-card__title">@item.TitleCard</h3>
                                <p class="course-card__text">@item.DescriptionCard</p>

                                <div class="course-card__footer">
                                    <div class="trainer">
                                        <img src="@item.ImgTeacherPath" alt="">
                                        <span>Любов Романівна</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>


        </div>
    </section>
</div>


@code {

    @code {
        private List<Portfolio> portfolios = new();
        private List<Portfolio> filteredPortfolios = new();

        protected override async Task OnInitializedAsync()
        {
            _cultureStateService.OnChange += HandleCultureChanged;
                        
            portfolios = await _portfolioService.GetPortfoliosAsync();

            ApplyCulture();
        }

        private void HandleCultureChanged()
        {
            ApplyCulture();
            InvokeAsync(StateHasChanged);
        }

        private void ApplyCulture()
        {
            // false = UA, true = EN
            bool needCulture =
                CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "en";

            filteredPortfolios = portfolios
                .Where(x => x.IsCulture == needCulture)
                .ToList();
        }

        public void Dispose()
        {
            _cultureStateService.OnChange -= HandleCultureChanged;
        }
    }

}
